div.section {
    margin-top: 4em;
}
blockquote.epigraph {
    font-style: italic;
    margin: 0% 5% 0% 5% ;
    border: 1px solid;
    padding: .5em;
}
blockquote.epigraph p {
    margin: .5em 0em .5em 0em;
}
/* Uncomment (and remove this text!) to get reduced vertical space in
   compound paragraphs. */
/* //div.compound .compound-first, div.compound .compound-middle {
//  margin-bottom: 0.5em }
//
//div.compound .compound-last, div.compound .compound-middle {
//  margin-top: 0.5em }
/* */
ul li p {
  /* Override more specific margin styles with "! important". */
  /* margin-top: -1cm ! important ; */
  margin-top: 0em;
  margin-bottom: 0em;
}

li {
    margin-bottom: .2em;
}
li li {
    margin-top: .2em;
}
ul pre {
  //margin-top: .5em;
  margin-bottom: .5em;
}
tt.literal, pre {
    background-color: #ecf0f3;
    font-family: monospace, sans-serif;
    font-size: 90.5%;
}
pre {
  margin-top: 0em;
  margin-bottom: 0em;
  font-size: 100.0%;
}


img.align-left, .figure.align-left, object.align-left {
  clear: left ;
  float: left ;
  margin-right: 1em }

img.align-right, .figure.align-right, object.align-right {
  clear: right ;
  float: right ;
  margin-left: 1em }

img.align-center, .figure.align-center, object.align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.align-left {
  text-align: left }

.align-center {
  clear: both ;
  text-align: center }

.align-right {
  text-align: right }

/* reset inner alignment in figures */
div.align-right {
  text-align: inherit }

.red {
    color:red;
}
.blue {
    color:blue;
}